/* IMPOSTAZIONI GENERALI */
body{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3{
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;;
}
a{
    color: palevioletred;
}
/* HEADER */
header{
    background-color: #00A0C6;
    text-align: center;
    padding: 3.5rem 2.5rem;
    border-bottom: 4px solid #027794;
}
header h1{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: white;
    line-height: 2rem;
}
h1 span{
    background-color: white;
    color: #00A0C6;
    display: inline-block;
    margin: 0.5rem 0 5rem 0;
}
/* MAIN */
main{
    padding: 2rem 1rem;
}
div{
    text-align: left;
}
div h2{
    text-transform: uppercase;
    color:#027794;
    font-size: 1.6rem;
    text-align: center;
}
figure{
    text-align: center;
    margin: 2rem 0;
}
address{
    margin-bottom: 1.4rem;
}
blockquote{
    font-style: italic;
    background-color: rgba(187, 181, 181, 0.852);
    margin: 2.5rem 0;
    padding: 2rem;
    text-align: right;
    border-radius: 20px;
    margin-bottom: 2rem;
}
div strong{
    color: #00A0C6;
}
section{
    margin-top: 2rem;
    padding-bottom: 4rem;
    border-bottom: 1px dashed grey;
}
section h2{
    margin-bottom: 2rem;
}
div h3{
    font-weight: bold;
    margin: 1.4rem 0;
}
mark{
    color: white;
    background-color: #027794;
}
section h2{
    text-transform: uppercase;
    color:#027794;
    font-size: 1.6rem;
    text-align: center;
}
div ul{
    margin: 1.4rem 4rem;
}
dl dd{
margin: 0 2rem;
}
dd strong{
    color: #00A0C6;
}
/* ELEMENTI NEL MAIN */

/* FOOTER */
footer{
    background-color: gray;
    border-top: 4px solid #00A0C6;
    font-size: 1rem;
    text-align: center;
}
kbd{
    color: yellow;
    font-style: italic;
}
footer p{
    padding-bottom: 1.4rem;
}